/* Light Mode */
:root {
    --primary-bg: #2c2c2c;
    --primary-text: #ffffff;
    --primary-color: #006b3d;
    --secondary-color: #006650;
}

/* Dark Mode */
body.light-mode {
    --primary-bg: #f5f5f5;
    --primary-text: #363636;
    --primary-color: #d35400;
    --secondary-color: #006b3d;
}

/* Applying the theme */
body {
    background-color: var(--primary-bg);
    color: var(--primary-text);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar{
    box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
}

.card {
    border: 2px solid white
}

.navbar, .card, .btn, .tab-content, .navbar-brand {
    background-color: var(--primary-bg);
    color: var(--primary-text);
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

#acc-img {
    border-radius: 50%;
    max-width: 150px;
}

.nav-tabs .nav-link.active {
    background-color: var(--primary-color);
    color: white;
}

.nav-item {
    width: 50%;
    color: white;
}

#clip-list, #playlists-list {
    display: none;
}

.active-tab {
    display: block;
}