:root {
    --primary-color: #006b3d;       /* Green */
    --secondary-color: #d35400;     /* Orange */
    --background-color: #2c2c2c;    /* Dark background */
    --text-color: #ffffff;          /* Light text */
    --secondary-text-color: #888;
}

/* Full-screen background */
html, body {
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Center content and ensure full viewport height */
.section {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-color);
}

.is-primary {
    color: var(--primary-color);
}

.is-primary:hover {
    background-color: var(--secondary-color);
}

.tabs li a {
    color: var(--text-color);
}

.tabs li.is-active a {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.tab-content {
    display: none;
}

.tab-content.is-active {
    display: block;
}

.clip-item {
    width: 80vw;
    padding: 15px 30px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    border-bottom: 1px solid white;
}

.play-icon-div {
    width: 80px;
    color: var(--primary-color);
}

.media-info {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#clips {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

